$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

#addedMessageContainer .table > tbody > tr > td{
    max-width: 100px !important; 
    overflow: hidden !important;
}

// .toAddMessageContainer .table > tbody > tr > td{
//     max-width: 100px !important; 
//     overflow: hidden !important;
// }



.my-panel{
    .form-group{
        margin-bottom: 5px !important;
    }
}


.form-horizontal{
    padding: 5px 20px 5px 20px;
}

.required{
    color: red;
}

.twitter-typeahead{
    width: 100%;
}

.added-list{
    float: right !important;
}
.ownerPaginationWrapper{
    text-align: center;
}

.driverPaginationWrapper{
    text-align: center;
}