body{
	background-color:#f7f7f6 !important;
}

label.icheck{
    cursor: pointer;
    margin-right: 20px;
    line-height: 32px;
    span{
        margin-left: 10px;
    }
}
.required-mark{
	color: red
}

