$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.goods-item{
    border: solid 1px red;
    padding: 10px;
}

.trunk-item{
    border: solid 1px blue;
    padding: 10px;
}

.sub-text{
    color: #999;
}

.data-list{
    width: 100%;
}

.match-item{
    background: #eee;
}

.select-item{
    background: #5bc0de;
}
.send-message{
    display: none;
}
.match-item .send-message{
    display: block !important;
}
.match-me-item{
    background: #eee;
}