/* line 1, ../../app/styles/base.scss */
body {
  background-color: #f7f7f6 !important;
}

/* line 5, ../../app/styles/base.scss */
label.icheck {
  cursor: pointer;
  margin-right: 20px;
  line-height: 32px;
}
/* line 9, ../../app/styles/base.scss */
label.icheck span {
  margin-left: 10px;
}

/* line 13, ../../app/styles/base.scss */
.required-mark {
  color: red;
}
